body {
  font-family: helvetica; }

.app {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 8vh 92vh; }

.sidebar_container {
  grid-column: 1;
  grid-row: 2;
  background-color: green; }

.main-page {
  grid-column: 2;
  grid-row: 2;
  background-color: magenta; }

.nav-container {
  background-color: black;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  display: inline-block; }
  .nav-container .item-container {
    max-width: 1200px;
    margin: auto; }
    .nav-container .item-container div {
      float: right;
      color: white;
      margin-right: 20px;
      margin-top: 15px; }
    .nav-container .item-container img {
      color: blue;
      margin: 10px;
      height: 30px;
      width: 30px; }
