

body {
  font-family: helvetica;
}

.app {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 8vh 92vh;

canvas {
  max-width: 250px;
}

.app {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 8vh 92vh;
}

.sidebar_container {
  padding-top: 20px;
  grid-column: 1;
  grid-row: 2;
  -webkit-box-shadow: 10px 0 5px -2px #A9A9A9;
         box-shadow: 10px 0 5px -2px #A9A9A9;
  a {
      display: block;
  }
}

.main-page {
  grid-column: 2;
  grid-row: 2;
  padding: 50px;
}


// ========= NAV ==========

.nav-container {
  background-color: black;
  position: absolute;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  display: inline-block;
  .item-container{
    max-width: 1200px;
    margin: auto;
    div{
      float: right;
      color: white;
      margin-right: 20px;
      margin-top: 15px;
    }
    img{
      color: blue;
      margin: 10px;
      height: 30px;
      width: 30px;
    }


  }

}
