@charset "UTF-8";
body {
  font-family: helvetica; }

.app {
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 8vh 92vh; }

.app {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 8vh 92vh; }

.sidebar-container {
  grid-column: 1;
  grid-row: 1/3;
  background: #669AA5;
  color: #F6F7F4;
  display: flex;
  flex-direction: column;
  padding: 8vh 2vw; }

.sidebar-container h1 {
  font-size: 2.3rem;
  color: #669AA5;
  -webkit-text-stroke: 1px #F6F7F4; }

.sidebar-container a {
  color: #F6F7F4;
  font-size: 2.3rem;
  line-height: 4rem;
  transition: transform .3s ease;
  transform: translateX(-2.8rem); }
  .sidebar-container a img {
    margin-right: 1vw;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.85, 0.01, 1, 0.66); }
  .sidebar-container a:hover {
    color: #F6F7F4;
    transform: translateX(0.3rem); }
    .sidebar-container a:hover img {
      opacity: 1; }

.main-page {
  grid-column: 2;
  grid-row: 1/3;
  padding: 50px;
  overflow-y: scroll;
  background: #F6F7F4; }

.upload {
  padding: 6rem; }

.form {
  display: flex; }

.submit {
  position: relative;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: black;
  margin: 3px; }

.submit:hover {
  background-color: whitesmoke;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: black; }

.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  margin: 3px; }

.upload-label {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  margin: 3px;
  display: inline-block;
  max-width: 100%;
  padding: .67857143em 1em;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: .28571429rem;
  transition: background .3s; }
  .upload-label:hover {
    cursor: pointer;
    background: lightgrey; }

i.cloud.upload.icon {
  display: inline;
  height: 10px; }

.upload-input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0; }

canvas {
  max-width: 250px; }

.video-audio-thumbnail {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .video-audio-thumbnail:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "►";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); }
  .video-audio-thumbnail:hover:before {
    color: #eee; }
